@import 'variables.scss';

.cardContainer {
  position: relative;
  margin-top: 2em;
  margin-bottom: 5em;
  margin-inline: 10%;
  border-radius: 0.5em;
  // border: 2px solid black;
  color: rgb(128, 128, 128);   
}

.btnWrap {
  position: absolute;
  top: 2.5%;
  left: 5%;
  height: 3em;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  cursor: pointer;
  transition: 125ms ease-in-out;

  &:hover {
    background: $hover-bg;
    border-radius: 10em;
  }

  .backBtn {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    z-index: 1;
    transform: translate(-1px, 1px);
  }
}



.imgInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 4em 3em;
  color: rgb(0, 0, 0);    
}

.name {
  font-size: 1.7rem;
}


//* component classes
.textBody {
  padding: 1em 1em;
  background: rgb(255, 255, 255);

  .selectorContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    max-width: $max-width-card;
    color: black;
    z-index: 1;
    transform: translateY(-50px);

    .categoryName {
      position: absolute;
      color: rgba(255, 255, 255, 0.8);
      transition: 150ms ease-in-out;
      // padding-bottom: 0.7em;

      //* test
      padding: 0.5em 1em;
      border-radius: 100px;
      transform: translateY(-10px);
      //* test end
      cursor: pointer;

      &.about {
        left: 20%;
      }
      &.stats {
        right: 20%;
      }
      &.active {
        font-weight: bolder;
        color: rgb(255, 255, 255);
      }

      &:active,
      &:hover {
        // border-bottom: 3px solid rgb(255, 255, 255); 
        color: rgb(255, 255, 255);

        // *test
        background: $hover-bg;
      }
    }
  }
}
