@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .statDescription {
    max-width: $max-width-card;
    font-size: 0.8rem;
  }
}
.statWrap {
  display: flex;
  align-items: center;
  gap: 0.2em;
  max-width: $max-width-card;
  .statName {
    // max-width: max-content;
    color: rgb(80, 80, 80);
    font-weight: bolder;
    font-size: 0.9rem;
  }
  
  .skillBar {
    width: 100%;
    .skillPer {
      border-radius: 0.5em;
      height: 0.25em;
      margin-left: 1em;
    }
  }

  .minMaxWrap {
    display: flex;
    text-align: center;
    & > * {
      width: 3ch;
    }
  }

  .min, 
  .max {
    // margin-left: 0.5em;
    text-align: end;
  }

  .max {
    margin-left: 0.5em;
  }

  .minTotal,
  .maxTotal {
    margin-left: 0.5em;
    color: rgb(80, 80, 80);
    font-weight: bolder;
    font-size: 0.8rem;
    text-align: end;
  }
}